{% load static i18n %}
<div id="{{ id }}" class="{{ classes }}">
    <h3 class="main-title main-title-hashtags">{% trans "HASHTAGS" %}</h3>
    <div class="nano-wrapper">
        <div class="nano">
            <div class="pane-content">
                <!-- TODO
                <h4 class="sub-title sub-title-hash-pop">HASHTAGS POPULAIRES</h4>

                <ul class="hashtags-list hashtags-list-pop">
                    <li>
                        <a href="#" class="active">Madonna</a>
                    </li>
                    <li>
                        <a href="#">Oleole</a>
                    </li>
                </ul>
                -->
                 <ul class="hashtags-list"></ul>
            </div>
        </div>
    </div>
</div><!-- /#hashtags -->
